[{% for partner in partners %}{"id":"partner_{{ partner.id }}","freq":{{ partner.frequency }},"image":false,"link":"{{host}}{% if partner.is_active %}{% url 'partners:partner_redirect' partner_id=partner.id additional=1 %}{% else %}{% url 'partners:partner_redirect' partner_id=partner.id %}{%endif%}"}{% if not forloop.last %},{%endif%}{% endfor %}]
